
.j-back{
    background-color: #00aaf1;
}

.resize {
    width: 250px;
}

.citiLogo{
    float: right;
    padding-right: 45px;
    padding-bottom: 35px;
}

.citiheader{
    font-family: 'Oswald', sans-serif;
    color: white;
}

h1{
    font-family: 'Oswald', sans-serif;
}

.neg-price{
    font-color:red;
    font-weight: bold;
    padding-top: 20px;
    float:top;
    text-align:center;
}

.money{
    height:250px;
}

.plus-price{
    color: #00aaf1;
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
}

.view {
    float:right;
    float: top;
    align-self: auto;
}

.mybtn{
    height:100px;
    width: 100px;
    font-family: 'Oswald', sans-serif;
}
.round-edge{
    border-radius: 10px;
}


