{% extends 'base.html' %}
{% block main %}
    <div id="page-wrapper">
        <div class="graphs">
            <h3 class="blank1">Your Income</h3>
            <h3 class="blank1">Total: $38,241 CAD</h3>
            <div class="graph_box">
                						<div class="panel panel-warning" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
							<div class="panel-body no-padding">
								<table class="table table-striped">
									<thead>
										<tr class="warning">
											<th>Account Type</th>
											<th>Amount</th>
                                            <th></th>
                                            <th>Annual Return Rate</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>RRSP/Others</td>
											<td>$5,381</td>
											<<th><a href="{{ url_for('income')}}">View Account Details</a></th>
                                            <td></td>
										</tr>
										<tr>
											<td>TFSA</td>
											<td>$7,821</td>
											<<th><a href="{{ url_for('income')}}">View Account Details</a></th>
                                             <td>15%</td>
										</tr>
										<tr>
										<td>Saving Account</td>
											<td>$5,381</td>
											<<th><a href="{{ url_for('income')}}">View Account Details</a></th>
                                            <td>2%</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
                <div class="grid_2">
                    <div class="grid_1">
                        <h4>Investment Breakdown</h4>
                        <div class="legend">
                            <div id="os-Win-lbl">QCOM <span>5%</span></div>
                            <div id="os-Mac-lbl">TSLA <span> 33%</span></div>
                            <div id="os-Other-lbl">AMZN<span>30%</span></div>
                            <div id="os-Other2-lbl">DOW<span>20%</span></div>
                            <div id="os-Other3-lbl">NFLX<span>2%</span></div>
                            <div id="os-Other4-lbl">APPL<span>10%</span></div>
                        </div>
                        <canvas id="doughnut" height="300" width="470" style="width: 470px; height: 300px;"></canvas>
                        <script>
                            var doughnutData = [
                                {
                                    value: 5,
                                    color:"#F44336"
                                },
                                {
                                    value : 33,
                                    color : "#5c377e"
                                },
                                {
                                    value : 30,
                                    color : "#777F8C"
                                },
                                {
                                    value : 20,
                                    color : "#bfb567"
                                },
                                                                {
                                    value : 2,
                                    color : "#c19d71"
                                },
                                                                {
                                    value : 10,
                                    color : "#b16848"
                                },
                            ];
                            new Chart(document.getElementById("doughnut").getContext("2d")).Doughnut(doughnutData);
                        </script>
                        <h4>Sharp Ratio: 0.78</h4>
                    </div>
                </div>
        </div>
    </div>
</div>
</section>
	
<script src="{{  url_for('static', filename='/js/jquery.nicescroll.js') }}"></script>
<script src="{{  url_for('static', filename='/js/scripts.js') }}"></script>
<!-- Bootstrap Core JavaScript -->
   <script src="{{  url_for('static', filename='/js/bootstrap.min.js') }}"></script>
</body>
</html>
{%  endblock %}