{% extends 'base.html' %}
{% block main %}
    <div id="page-wrapper">
        <div class="container-fluid" style="background-color: #00aaf1;">
            <div class="jumbotron j-back" style="background-color: #00aaf1;">
                <h1 class="citiheader" style="color: white; text-shadow: 6px 6px 0px rgba(0,0,0,0.2);">CITI PLANNER <span class="citiLogo"><img style="width:250px; height:163px; float: right;"class="resize"src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Citi.svg/1200px-Citi.svg.png" alt=""></span></h1>
                <p style="color: #e8e5dc">All of your investment needs, in one package</p>
            </div>
        </div>

			<!-- switches -->
        <div class="row align-items-center">
			<div class="">
				<div class="col-md-6 col-sm-6 container-fluid">
					<div class="switch-right-grid money round-edge">
                        <div class="switch-right-grid">
						<div class="switch-right-grid1">
							<h3 style="font-family: 'Raleway', sans-serif;">Weekly Spending</h3>
							<ul>
								<li>Total Spending: 89.22 CAD</li>
							</ul>
						</div>
					</div>
						<div class="sparkline">
						<canvas id="line" height="155" width="680" style="width: 980px; height: 160px;"></canvas>
							<script>
									var lineChartData = {
										labels : ["Mon","Tue","Wed","Thu","Fri","Sat","Sun"],
										datasets : [
											{
												fillColor : "#fff",
												strokeColor : "#F44336",
												pointColor : "#fbfbfb",
												pointStrokeColor : "#F44336",
												data : [20,35,45,30,10,65,40]
											}
										]

									};
									new Chart(document.getElementById("line").getContext("2d")).Line(lineChartData);
							</script>
					</div>
            </div>

				</div>
				<div class="col-md-6 col-sm-6 container-fluid" style="width:750px;">
                        <div class="switch-right-grid">
						<div class="switch-right-grid1">
							<h3 style="font-family: 'Raleway', sans-serif;">Monthly Spending</h3>
							<ul>
								<li>Total Spending: 89.22 CAD</li>
							</ul>
							<ul>
							</ul>
						</div>
					</div>
                    <div class="sparkline">
						<canvas id="bar" height="110" width="720" style="width:700px; height: 100%;"></canvas>
							<script>
								var barChartData = {
									labels : ["Mon","Tue","Wed","Thu","Fri","Sat","Mon","Tue","Wed","Thu"],
									datasets : [
										{
											fillColor : "#8BC34A",
											strokeColor : "#8BC34A",
											data : [25,40,50,65,55,30,20,10,6,4]
										},
										{
											fillColor : "#8BC34A",
											strokeColor : "#8BC34A",
											data : [30,45,55,70,40,25,15,8,5,2]
										}
									]

								};
									new Chart(document.getElementById("bar").getContext("2d")).Bar(barChartData);
							</script>
                    </div>
				</div>

                <div class="row">
                    <div class="col-sm-6 col-md-6" style="padding-top:75px;">
                         <div class="thumbnail">
                             <img style="width:100%; height:600px;"src="https://aardvarkaccounting.co.uk/wp-content/uploads/2017/02/business-expenses-through-limited-company.jpg" alt="...">
                                <div class="caption">
                                     <h2 style="text-align:center;">Expenses</h2>
                                     <h1 class="neg-price">-$4000</h1>
                                    <p>...</p>
                                    <p><a href="#" class="btn btn-primary" role="button">View Details</a></p>
                                </div>
                        </div>
                    </div>
                     <div class="col-sm-6 col-md-6" style="padding-top:75px;">
                         <div class="thumbnail">
                             <img style="width: 100%;height: 600px;"src="https://image.freepik.com/free-vector/businessman-running-top-graph_83111-82.jpg" alt="...">
                                <div class="caption">
                                     <h2 style="text-align:center;">Income and Savings</h2>
                                    <h1 class="plus-price">$4000</h1>
                                    <p>...</p>
                                    <p><a href="#" class="btn btn-primary" role="button">View Details</a></p>
                                </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-4" style="padding-top:75px;">
                         <div class="thumbnail" style="height:563px">
                             <img style="width: 100%;height: 360px;"src="https://i0.wp.com/inc42.com/wp-content/uploads/2018/07/startup-growth.jpg?resize=680%2C510&ssl=1" alt="...">
                                <div class="caption">
                                     <h2 style="text-align:center;">Your Financial Status is</h2>
                                    <h1 style="text-align:center; font-family: 'Raleway', sans-serif;">Good</h1>
                                    <p>...</p>
                                    <p><a href="#" class="btn btn-primary" role="button">View Details</a></p>
                                </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4" style="padding-top:75px;">
                         <div class="thumbnail" style="height:563px">
                             <img style="height:360px; width:100%;"src="http://blog.avenir-it.com/wp-content/uploads/2017/05/shutterstock_319423223-Copy.jpg" alt="...">
                                <div class="caption align-items-center">
                                     <h2>Your Income distribution</h2>
                                     <div class="container-fluid">
                                         <div class="row align-items-center">
                                             <div class="col-lg-4">
                                                 <h1 style="font-family: 'Raleway', sans-serif;">45%</h1>
                                                 <h1 style="font-family: 'Raleway', sans-serif;">Work</h1>
                                             </div>
                                             <div class="col-lg-4">
                                                 <h1 style="font-family: 'Raleway', sans-serif;">20%</h1>
                                                 <h1 style="font-family: 'Raleway', sans-serif;">Savings</h1>
                                             </div>
                                             <div class="col-lg-4">
                                                 <h1 style="font-family: 'Raleway', sans-serif;">20%</h1>
                                                 <h1 style="font-family: 'Raleway', sans-serif;">Pension</h1>
                                             </div>
                                         </div>
                                     </div>
                                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                </div>
                        </div>
                    </div>
                    <script src="https://dj48dnvcpz5t9.cloudfront.net/lex-web-ui-loader.min.js"></script>
                    <script>
                        var loaderOpts = {
                            baseUrl: 'https://dj48dnvcpz5t9.cloudfront.net/',
                            shouldLoadMinDeps: true
                        };
                        var loader = new ChatBotUiLoader.IframeLoader(loaderOpts);
                        loader.load().catch(function (error) { console.error(error); });
                    </script>
                    <div class="col-sm-6 col-md-4" style="padding-top:75px;">
                         <div class="thumbnail" style="height:563px">
                             <img style="height:360px; width:100%;"src="https://writestylesonline.com/wp-content/uploads/2018/11/Three-Statistics-That-Will-Make-You-Rethink-Your-Professional-Profile-Picture-1024x1024.jpg" alt="...">
                                <div class="caption">
                                     <h2 >Alexandra Reviknay</h2>
                                    <p>...</p>
                                    <p><a href="#" class="btn btn-primary" role="button">About</a> <a href="#" class="btn btn-default" role="button">Settings</a> <a href="#" class="btn btn-info" role="button">Logout</a></p>
                                </div>
                        </div>
                    </div>
                </div>

				<div class="clearfix"></div>
			</div>
		</div>
    </div>
    </div>
</section>

<script src="{{  url_for('static', filename='/js/jquery.nicescroll.js') }}"></script>
<script src="{{  url_for('static', filename='/js/scripts.js') }}"></script>
<!-- Bootstrap Core JavaScript -->
   <script src="{{  url_for('static', filename='/js/bootstrap.min.js') }}"></script>
</body>
</html>
{%  endblock %}